openapi: 3.2.0
info:
  title: Newline Platform Auth API
  version: 1.0.0
  description: Welcome!
servers:
- url: https://sandbox.newline53.com/api/v1
security:
- ApiKeyAuth: []
tags:
- name: Auth
  description: The Authentication section explains how to securely interact with Newline's API using access tokens and static IP addresses.
paths:
  /auth:
    parameters:
    - in: header
      name: x-trace-id
      description: 'A unique identifier provided for each request. Duplicate values submitted in requests within 7 days of each other will cause the request to be rejected.

        '
      schema:
        type: string
        example: 123e4567-e89b-12d3-a456-426614174000
      required: true
    post:
      tags:
      - Auth
      summary: Generate an authentication token
      description: 'An access token can be generated by providing a refresh token. The generated token then can be used as an authentication token to access resources for up to 8 hours.


        The Client will need to provide a JWS, its payload containing Program UID as `sub` (subject) and current Epoch time as `iat` (issued at timestamp), signed by an HMAC that has been shared offline previously using HS512. See the above guide for more details.


        When Newline processes the `POST /auth` request, it validates that the `iat` claim is current. A 30-second difference is allowed to account for clock skew. Nevertheless, it is important that the refresh token be submitted as quickly as possible after it is generated to avoid failure in receiving an access token. Note that the returned access token is a valid JWS following `auth-` and the whole value (`auth-header.payload.signature`) must be provided in the `Authorization` header when making requests to other endpoints.'
      parameters:
      - in: header
        name: Authorization
        description: Refresh token signed with shared HMAC
        schema:
          type: string
        example: header.payload.hmacsignature
        required: true
      responses:
        '201':
          description: A new authentication token is generated
          headers:
            x-trace-id:
              description: The unique identifier provided with the request.
              schema:
                type: string
                example: 123e4567-e89b-12d3-a456-426614174000
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: 'Access token that can be used in the `Authorization` header when sending requests to other endpoints for up to 8 hours.

                      '
                    example: auth-header.payload.signature
      operationId: postAuth
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Access token signed with shared HMAC
x-explorer-enabled: false
