openapi: 3.2.0
info:
  title: Newline Platform Custodial Accounts API
  version: 1.0.0
  description: Welcome!
servers:
- url: https://sandbox.newline53.com/api/v1
security:
- ApiKeyAuth: []
tags:
- name: Custodial Accounts
  description: Fifth Third Bank holds Custodial Accounts and represents funds managed for Customers.
paths:
  /custodial_accounts:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    get:
      tags:
      - Custodial Accounts
      summary: List Custodial Accounts
      description: Retrieve a list of Custodial Accounts held by Fifth Third Bank for onboarded Customers. This endpoint returns active and archived accounts along with their balances.
      parameters:
      - $ref: '#/paths/~1pools/get/parameters/0'
      - $ref: '#/paths/~1transfers/get/parameters/1'
      - $ref: '#/paths/~1pools/get/parameters/1'
      - $ref: '#/paths/~1pools/get/parameters/2'
      - name: liability
        in: query
        schema:
          type: boolean
        description: Filter by liability or asset
      - name: type
        in: query
        schema:
          type: string
          enum:
          - dda
          - dda_cash_external
          - dda_cash_received
          example: dda
          description: 'Filter by type. Multiple values are allowed, e.g. `type[]=dda&type[]=dda_cash_external`.

            '
      responses:
        '200':
          description: A list of Custodial Accounts is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1pools/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        allOf:
                        - $ref: '#/paths/~1transfers/post/requestBody/content/application~1json/schema/allOf/0'
                        - $ref: '#/paths/~1custodial_accounts~1%7Buid%7D/get/responses/200/content/application~1json/schema/allOf/1'
      operationId: getCustodialAccounts
      x-operation-id-source: derived
  /custodial_accounts/{uid}:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    - $ref: '#/paths/~1pools~1%7Buid%7D/parameters/1'
    get:
      tags:
      - Custodial Accounts
      summary: Get a single Custodial Account
      description: Returns a single Custodial Account resource along with supporting details and account balances.
      responses:
        '200':
          description: A single Custodial Account is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1transfers/post/requestBody/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    customer_uid:
                      type: string
                      description: A UID referring to the customer this Custodial Account belongs to
                      example: YrfDrfVRgpPgnhF5
                    pool_uid:
                      type: string
                      description: A UID referring to the pool this Custodial Account belongs to
                      example: kaxHFJnWvJxRJZxq
                    type:
                      type: string
                      enum:
                      - dda
                      - dda_cash_external
                      - dda_cash_received
                      example: dda
                      description: '`dda` accounts are liability DDA accounts. Any asset movements in or out of the brick-and-mortar accounts will be journaled in the `dda` Custodial Accounts. Balances shown in the `dda` accounts are the balances the owner Customers have.


                        `dda_cash_external` accounts are asset accounts, representing external accounts. When ODFI transfers, initiated by a Synthetic Transfer from or to external Synthetic Accounts, are settled, the `dda_cash_external` Custodial Accounts will be credited or debited.


                        `dda_cash_received` accounts are asset cash accounts. When RDFI transfers, initiated outside of Newline from or to Custodial Accounts, are settled, the `dda_cash_received` Custodial Accounts will be credited or debited.

                        '
                      readOnly: true
                    liability:
                      type: boolean
                      example: true
                      description: 'When true, the account is a liability account; when false, an asset account. Liability Custodial Accounts represent real accounts at Financial Institutions. Asset accounts are used for accounting purposes and may be generated by Newline during events such as new custodial account creations or new external account connections.

                        '
                      readOnly: true
                    name:
                      type:
                      - string
                      - 'null'
                      description: 'A friendly name used to identify the account at the Custodial Partner. This name is sometimes shown on statements and ACH transfers. Nullable for asset Custodial Accounts.

                        '
                      example: XYZ Checking Account
                    primary_account:
                      type: boolean
                      description: 'Used to identify the primary account when multiple Custodial Accounts exist at a single Custodial Partner

                        '
                      example: true
                    status:
                      type:
                      - string
                      - 'null'
                      description: 'A value indicating the overall state of this Custodial Account (nullable if account type is asset).

                        '
                      default: active
                      enum:
                      - active
                      - archived
                      readOnly: true
                    account_errors:
                      type: array
                      description: 'A list of errors related to this account. These are passed through during interactions with the underlying Custodial Partner and can help with resolving customer issues. Only provided for accounts that are in an `error` or `manual_review` status.

                        '
                      items:
                        type:
                        - object
                        - 'null'
                        properties:
                          error_code:
                            type: string
                            example: FI1234
                          error_name:
                            type: string
                            example: DOB does not match
                          error_description:
                            type: string
                            example: The given DOB does not match the known DOB for the SSN provided
                      readOnly: true
                    net_usd_balance:
                      type: string
                      description: 'The current settled balance of this Custodial Account in US Dollars. Null for Asset accounts.

                        '
                      readOnly: true
                      example: '12.34'
                    net_usd_pending_balance:
                      type: string
                      description: 'The sum of all pending transactions for this Custodial Account in US Dollars. Null for Asset accounts.

                        '
                      readOnly: true
                      example: '-2.56'
                    net_usd_available_balance:
                      type: string
                      description: 'The balance available to spend calculated as Normal balance less any withdrawals. Pending deposits are not included. Null for Asset accounts.

                        '
                      readOnly: true
                      example: '9.78'
                    net_usd_closing_balance:
                      type:
                      - string
                      - 'null'
                      description: The settled balance for the account in US Dollars as of the date in net_usd_closing_balance_as_of. Null for Asset accounts.
                      readOnly: true
                      example: '9.87'
                    net_usd_closing_balance_as_of:
                      type: string
                      description: The date that net_usd_closing_balance was last calculated. Null for Asset accounts.
                      readOnly: true
                      example: '2025-08-19'
                    asset_balances:
                      type: array
                      description: 'A list of balances for the various asset types held in this Custodial Account. Null for Asset accounts.

                        '
                      items:
                        type:
                        - object
                        - 'null'
                        properties:
                          asset_quantity:
                            type: string
                            example: '122.11'
                          asset_type:
                            type: string
                            example: USD
                          current_usd_value:
                            type: string
                            example: '122.11'
                          debit:
                            type: boolean
                            example: true
                      readOnly: true
                    routing_number:
                      description: 'The ABA routing number associated with the Custodial Partner. Nullable if asset.

                        '
                      readOnly: true
                      type:
                      - string
                      - 'null'
                      allOf:
                      - $ref: '#/paths/~1virtual_reference_numbers/post/requestBody/content/application~1json/schema/properties/routing_number/allOf/0'
                    opened_at:
                      type: string
                      description: The DateTime at which this account was created
                      format: date-time
                      readOnly: true
                      example: '2019-01-31T17:32:28Z'
                    closed_at:
                      type:
                      - string
                      - 'null'
                      description: The DateTime at which this account was closed
                      format: date-time
                      readOnly: true
                      example: '2019-10-19T08:15:13Z'
                    account_number_masked:
                      type:
                      - string
                      - 'null'
                      description: Last 4 digits of the ACH account number. Nullable if asset.
                      readOnly: true
                      example: '9012'
                  required:
                  - customer_uid
                  - pool_uid
                  - primary_account
                - type: object
                  properties:
                    account_number:
                      description: 'The ACH account number that can be used to make transfers into/out of this account. Nullable if asset.

                        '
                      readOnly: true
                      type:
                      - string
                      - 'null'
                      allOf:
                      - maxLength: 17
                        minLength: 1
                        type: string
                        example: '123456789012'
                        pattern: ^[0-9]{1,17}$
                    company_ids:
                      type: array
                      description: 'A list of company ids associated with the Custodial Partner. Not present if asset.

                        '
                      items:
                        type: string
                        example: COMPID1234
      operationId: getCustodialAccountsByUid
      x-operation-id-source: derived
  /custodial_account_closing_balances:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    get:
      tags:
      - Custodial Accounts
      summary: List Custodial Account Closing Balances
      description: Retrieves a paginated list of Custodial Account Closing balances, filtered by various parameters.
      parameters:
      - name: custodial_account_uid
        in: query
        schema:
          type: string
          example: yqyYk5b1xgXFFrXs
        description: Filter by Custodial Account
      - name: custodial_account_external_uid
        in: query
        schema:
          type: string
          example: 4XkJnsfHsuqrxmeX
        description: 'Filter by Custodial Account External. Multiple values are allowed, e.g. `custodial_account_external_uid[]=4XkJnsfHsuqrxmeX&custodial_account_external_uid[]=exMDShw6yM3NHLYV`.

          '
      - $ref: '#/paths/~1pools/get/parameters/1'
      - $ref: '#/paths/~1pools/get/parameters/2'
      - name: net_usd_closing_balance_as_of
        in: query
        required: false
        schema:
          $ref: '#/paths/~1transactions/get/parameters/17/schema'
      - name: net_usd_closing_balance_before
        in: query
        required: false
        schema:
          $ref: '#/paths/~1transactions/get/parameters/17/schema'
      - name: net_usd_closing_balance_after
        in: query
        required: false
        schema:
          $ref: '#/paths/~1transactions/get/parameters/17/schema'
      responses:
        '200':
          description: A list of Custodial Account Closing balances is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1pools/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        allOf:
                        - $ref: '#/paths/~1transaction_events~1%7Buid%7D/get/responses/200/content/application~1json/schema/allOf/0'
                        - $ref: '#/paths/~1custodial_account_closing_balances~1%7Buid%7D/get/responses/200/content/application~1json/schema/allOf/1'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      operationId: getCustodialAccountClosingBalances
      x-operation-id-source: derived
  /custodial_account_closing_balances/{uid}:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    - $ref: '#/paths/~1pools~1%7Buid%7D/parameters/1'
    get:
      tags:
      - Custodial Accounts
      summary: Get a single Custodial Account Closing Balance
      responses:
        '200':
          description: A single Custodial Account Closing Balance is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1transaction_events~1%7Buid%7D/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    custodial_account_uid:
                      type: string
                      description: A unique id referring to the Custodial Account
                      example: Jy8degj6iv2QngLo
                    custodial_account_external_uid:
                      type: string
                      description: A unique id referring to the External Custodial Account
                      example: ptRLF7nQvy8VoqM1
                    net_usd_closing_balance:
                      type: string
                      description: The USD amount of the Custodial Account's closing balance
                      example: '12.34'
                    net_usd_closing_balance_as_of:
                      type: string
                      format: date
                      example: '1978-08-17'
      operationId: getCustodialAccountClosingBalancesByUid
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Access token signed with shared HMAC
x-explorer-enabled: false
