openapi: 3.2.0
info:
  title: Newline Platform Products API
  version: 1.0.0
  description: Welcome!
servers:
- url: https://sandbox.newline53.com/api/v1
security:
- ApiKeyAuth: []
tags:
- name: Products
  description: Products represent financial services available in your program.
paths:
  /products:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    get:
      tags:
      - Products
      summary: List Products
      description: Products filtered by the given parameters.
      parameters:
      - name: program_uid
        in: query
        schema:
          type: string
          example: pQtTCSXz57fuefzp
        description: Only return Products belonging to the submitted Program
      responses:
        '200':
          description: A list of Products is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1pools/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/paths/~1products~1%7Buid%7D/get/responses/200/content/application~1json/schema'
      operationId: getProducts
      x-operation-id-source: derived
  /products/{uid}:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    - $ref: '#/paths/~1pools~1%7Buid%7D/parameters/1'
    get:
      tags:
      - Products
      summary: Get a single Product
      description: Retrieve overall status about a Product as well as its configuration, availability, and any associated metadata.
      responses:
        '200':
          description: A single Product is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                    description: A unique identifier for this resource
                    example: f9VncZny4ejhcPF4
                  name:
                    type: string
                    example: Checking
                  description:
                    type: string
                    example: Supports checking accounts
                  product_compliance_plan_uid:
                    type: string
                    description: A unique identifier for a Product Compliance Plan
                    example: Vxf1pY1KHbiJYo1e
                  compliance_plan_name:
                    type: string
                    example: Compliance requirements for checking
                  customer_types:
                    type: array
                    description: A list of customer types allowed for this Product
                    items:
                      type: string
                    example:
                    - primary
                    - sole_proprietor
                  prerequisite_product_uids:
                    type: array
                    description: A list of uids referring to Products that a Customer must onboard to before this Product is available
                    items:
                      type: string
                    example:
                    - DaB7Mjj73Nz2JpHF
                    - x2z691J9HPCWAugv
                  profile_requirements:
                    type: array
                    description: A list of Profile Requirements a Customer must provide Profile Responses to
                    items:
                      type: object
                      properties:
                        profile_requirement_uid:
                          type: string
                          description: A UID referring to the Profile Requirement
                          example: ptRLF7nQvy8VoqM1
                        profile_requirement:
                          type: string
                          description: A statement that requires response in order to onboard a Customer for a Product
                          example: Please provide your approximate annual income in USD.
                        category:
                          type: string
                          description: an identifier by which requirements can be grouped
                          example: default
                        required:
                          type: boolean
                          description: an indication of whether a response is required or optional
                          example: true
                        requirement_type:
                          type: string
                          description: The type of the response values for the requirement
                          enum:
                          - fixed_list
                          - integer_greater
                          - ordered_list
                          - number
                          - string
                        response_values:
                          type: array
                          description: List of valid response values, if applicable
                          example:
                          - 'yes'
                          - 'no'
                          items:
                            type: string
                  program_uid:
                    type: string
                    description: A unique identifier for a Program
                    example: W74Jrkxk8bVtvNNj
                  required_fields:
                    description: List of required PII fields per Customer type
                    type: array
                    items:
                      type: object
                      properties:
                        customer_type:
                          type: string
                        fields:
                          type: array
                          items:
                            type: string
                    example:
                    - customer_type: primary
                      fields:
                      - city
                      - dob
                      - email
                      - first_name
                      - last_name
                      - phone
                      - postal_code
                      - ssn
                      - state
                      - street1
                    - customer_type: sole_proprietor
                      fields:
                      - business_name
                      - city
                      - dob
                      - email
                      - first_name
                      - last_name
                      - phone
                      - postal_code
                      - ssn
                      - state
                      - street1
      operationId: getProductsByUid
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Access token signed with shared HMAC
x-explorer-enabled: false
