openapi: 3.2.0
info:
  title: Newline Platform Customer Products API
  version: 1.0.0
  description: Welcome!
servers:
- url: https://sandbox.newline53.com/api/v1
security:
- ApiKeyAuth: []
tags:
- name: Customer Products
  description: Customer Products link Customers to financial products.
paths:
  /customer_products:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    get:
      tags:
      - Customer Products
      summary: List Customer Products
      description: List Customers and the Products they have onboarded onto, filtered by the given parameters.
      parameters:
      - name: program_uid
        in: query
        schema:
          type: string
          example: pQtTCSXz57fuefzp
        description: Only return Customer Products belonging to the submitted Program
      - name: product_uid
        in: query
        schema:
          type: string
          example: zbJbEa72eKMgbbBv
        description: Only return Customer Products belonging to the submitted Product
      - $ref: '#/paths/~1pools/get/parameters/0'
      responses:
        '200':
          description: A list of Customer Products is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/paths/~1pools/get/responses/200/content/application~1json/schema/allOf/0'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/paths/~1customer_products~1%7Buid%7D/get/responses/200/content/application~1json/schema'
      operationId: getCustomerProducts
      x-operation-id-source: derived
    post:
      tags:
      - Customer Products
      summary: Onboard Customer onto a Product
      description: 'Submit a request to onboard a Customer onto a new product. Ensure all required Customer details have been provided with Adjust Customer Data before making this request. An error will be returned if details are missing or invalid.


        The request to onboard a Customer serves as explicit confirmation from you that the Customer is ready for account opening. This event initiates the KYC/AML verification process and account opening in your Program. This is a billable event and is isolated intentionally for you to confirm that the Customer record is complete. Customer Onboarding is the event that locks the customer PII and profile responses from further edits.


        Customer Onboarding is designed to work as follows:


        - The Customer provides complete PII as defined by the Customers endpoint

        - The Customer provides complete Customer Profile information as defined by the Product endpoint

        - You submit a request to Customer Products with the specified Product this Customer is onboarding onto

        - Newline performs a validation on the PII provided and the Customer Profile data to confirm all are valid


        If the Customer passes these validations and meets the duration requirements described below, the Customer record is submitted to the KYC process'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_uid:
                  type: string
                  example: S62MaHx6WwsqG9vQ
                  description: A UID referring to the Customer generated by Newline.
                product_uid:
                  type: string
                  example: pQtTCSXz57fuefzp
                  description: A UID referring to the Product. Generated by Newline.
              required:
              - customer_uid
              - product_uid
      responses:
        '200':
          description: A single Customer Product is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1customer_products~1%7Buid%7D/get/responses/200/content/application~1json/schema'
        '422':
          description: There was a problem with the request body
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                $ref: '#/paths/~1returns/get/responses/403/content/application~1json/schema'
              examples:
                missing-details:
                  description: The given Customer was missing details.
                  value:
                    errors:
                      code: 4111
                      title: Incomplete Customer details
                      detail: Customer is missing required information
                      occurred_at: '2022-10-21T18:22:22.300Z'
                      extra: First name can't be blank; Last name can't be blank; City can't be blank; Dob can't be blank; Phone can't be blank; Postal code can't be blank; Ssn can't be blank; State can't be blank; Street1 can't be blank
                    status: 422
      operationId: postCustomerProducts
      x-operation-id-source: derived
  /customer_products/{uid}:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    - $ref: '#/paths/~1pools~1%7Buid%7D/parameters/1'
    get:
      tags:
      - Customer Products
      summary: Get a single Customer Product
      description: Retrieves a single Customer Product resource along with its associated Customer and Product
      responses:
        '200':
          description: A single Customer Product is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                    description: A unique identifier for this resource
                    example: Tegvs2E4TQgVYYMj
                  status:
                    type: string
                    description: the status of the Customer Product onboarding
                    example: active
                    enum:
                    - active
                    - created
                    - manual_review
                    - rejected
                  customer_uid:
                    type: string
                    description: A unique identifier for a Customer
                    example: DuSzg6Ywr3cY9mw4
                  customer_email:
                    type: string
                    description: The Customer's email address
                    example: olive.oyl@newline53.com
                  product_uid:
                    type: string
                    description: A unique identifier for a Product
                    example: b8bemEKjAQhunbah
                  product_name:
                    type: string
                    description: The name of the Product
                    example: Checking
                  program_uid:
                    type: string
                    description: A unique identifier for a Program
                    example: F1oFMKafpB2Zm6ng
                  activated_at:
                    type: string
                    description: The date and time at which the Customer Product became active.
                    format: date-time
                    example: '2019-10-19T08:15:13Z'
      operationId: getCustomerProductsByUid
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Access token signed with shared HMAC
x-explorer-enabled: false
