openapi: 3.2.0
info:
  title: Newline Platform Pools API
  version: 1.0.0
  description: Welcome!
servers:
- url: https://sandbox.newline53.com/api/v1
security:
- ApiKeyAuth: []
tags:
- name: Pools
  description: Pools group multiple Customers for asset sharing and distributed account ownership.
paths:
  /pools:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    get:
      tags:
      - Pools
      summary: List Pools
      description: Retrieves a list of Pools filtered by the given parameters.
      parameters:
      - name: customer_uid
        in: query
        schema:
          type: string
          example: uKxmLxUEiSj5h4M3
        description: 'Filter by Customer. Multiple values are allowed, e.g. `customer_uid[]=uKxmLxUEiSj5h4M3&customer_uid[]=y9reyPMNEWuuYSC1`.

          '
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
        description: 'Maximum number of items to retrieve. This filter is automatically applied with the default value if not given.

          '
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        description: Index of the items to start retrieving from
      responses:
        '200':
          description: A list of Pools is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    total_count:
                      type: integer
                      description: Total count of items available to retrieve
                      example: 1
                    count:
                      type: integer
                      description: Number of items retrieved
                      example: 1
                    limit:
                      type: integer
                      description: Maximum number of items to retrieve
                      example: 100
                    offset:
                      type: integer
                      description: Index of the first item to retrieve
                      example: 0
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/paths/~1pools~1%7Buid%7D/get/responses/200/content/application~1json/schema'
              examples:
                pool_list:
                  value:
                    total_count: 4
                    count: 2
                    limit: 2
                    offset: 0
                    data:
                    - uid: wTSMX1GubP21ev2h
                      name: multi-byte success
                      owner_customer_uid: uKxmLxUEiSj5h4M3
                      customer_uids:
                      - uKxmLxUEiSj5h4M3
                      - ivxTYrJtwrMC4f6w
                    - uid: 7UvkHn3Ss9AbWe2c
                      name: Fundamental Frozen
                      owner_customer_uid: y9reyPMNEWuuYSC1
                      customer_uids:
                      - y9reyPMNEWuuYSC1
                      - 6TbfhQFQteurvK3Y
      operationId: getPools
      x-operation-id-source: derived
  /pools/{uid}:
    parameters:
    - $ref: '#/paths/~1auth/parameters/0'
    - name: uid
      in: path
      schema:
        type: string
      required: true
      description: Newline-generated unique id resource specific to the current endpoint
    get:
      tags:
      - Pools
      summary: Get a single Pool
      description: Retrieve overall status about a Pool as well as its total Asset Balances across all associated accounts.
      responses:
        '200':
          description: A single Pool is returned
          headers:
            x-trace-id:
              $ref: '#/paths/~1auth/post/responses/201/headers/x-trace-id'
          content:
            application/json:
              schema:
                allOf:
                - allOf:
                  - $ref: '#/paths/~1transaction_events~1%7Buid%7D/get/responses/200/content/application~1json/schema/allOf/0'
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A unique name, per pool, to identify the resource
                        example: New Resource Name
                - required:
                  - name
                  - owner_customer_uid
                  type: object
                  properties:
                    owner_customer_uid:
                      type: string
                      example: EhrQZJNjCd79LLYq
                    customer_uids:
                      type: array
                      items:
                        type: string
                        description: A list of UIDs belonging to the Customers in this Pool
                        example:
                        - EhrQZJNjCd79LLYq
                        - PbqZThW5fhQUYRx1
      operationId: getPoolsByUid
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Access token signed with shared HMAC
x-explorer-enabled: false
